@use '../../lib/service.scss' as s;

.title {
  color: s.color('primary');
  font-weight: bold;
  font-size: 32px;
}

section {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: s.space(4);
}

.form {
  display: flex;
  padding: s.space(4);
  flex-direction: column;
  gap: s.space(10);

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: s.space(6);
  }

  &__content {
    display: grid;
    gap: s.space(4);
    grid-template-rows: fit-content(50%) fit-content(50%);
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__field {
    display: flex;
    flex-direction: column;

    gap: s.space(1);

    &__description {
      grid-column: 1/4;

      input {
        height: 60px;
      }
    }
  }

  &__label {
    font-size: 14px;
  }

  &__input {
    border: 1px solid s.color('light');
    padding: s.space(2);
    border-radius: 6px;

    &__description {
      font-size: 12px;
      color: rgba(134, 134, 134, 0.9);
    }
  }

  &__button {
    background-color: s.color('primary');
    padding: s.space(2);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.8);
    width: 50%;
  }

  &__buttons {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    gap: s.space(3);
  }

  &__delete {
    background-color: red;
    padding: s.space(2);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.8);
    width: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card {
  border-radius: 12px;
  box-shadow: 2px 4px 8px 2px s.color('light');
  padding: s.space(5);
}

main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
}

.user-list {
  li {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
