<div class="field">
    <label {{#if name}}for="{{name}}" {{/if}} class="field__label">{{label}}</label>
    <input {{#if name}}name="{{name}}" {{/if}} class="field__text" value="{{value}}" readonly>
</div>