@use '../../lib/service.scss' as s;

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  &__label {
    font-size: 14px;
  }

  &__text {
    padding: s.space(2) 0;
    border: none;
    color: s.color(dark);
  }
}
